body {
  font-family: 'DM Sans', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
/*    font-family: sans-serif;
    font-size: 62.5%;
    font-size: 10px;*/
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav {
    width: 100%;
    height: 100px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    /*display: block;*/
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 90000;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #00E676;
}

.nav div.logo img {
  height: 55px;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #476667;
    line-height: 65px;
}

.nav div.main_list ul li a:hover {
    color: #c28283;
}


h1 {
  font-size: 72px;
  font-weight: 400;
  color: #476667;
}

h2 {
  font-size: 60px;
  font-weight: 400;
  color: #476667;
}

.jumbohome {
  background:linear-gradient(90deg, rgba(250, 219, 229, 1), rgba(250, 219, 229, 0.3)), url("/img/gallery/galeria-4.jpg");
  background-size:cover;
  clip-path: ellipse(100% 90% at 50% 0%);
}

.sectionhome {
  height: 50em;
}

.aboutsection {
  height: 40em;
}

.textcat {
  font-size: 18px;
  font-weight: 500;
  color: #476667;
  text-transform: uppercase;
}

.textone {
  font-size: 18px;
  font-weight: 400;
  color: #476667;
}

.texttwo {
  font-size: 16px;
  font-weight: 400;
  color: #476667;
}

.textcolorlight {
  color: #fff;
}

.textcolorred {
  color: #c28283;

}

.textcolorpink {
  color: #f9e8eb;
}

.btn {
  border-radius: 60px;
}

.servicelist {
  list-style: none;

}

.darkbtn {
  color: #fff;
  background-color: #476667;
  outline-color: #476667;
}

.darkbtn:hover {
  color: #fff;
  background-color: #c28283;
  outline-color: #476667;
}

.redbtn {
  color: #fff;
  background-color: #c28283;
  outline-color: #c28283;
}

.redbtn:hover {
  color: #fff;
  background-color: #476667;
  outline-color: #c28283;
}

.image-stack {
  display: grid;
  position: relative;
  grid-template-columns: repeat(6, 1fr);
  max-width: 500px
}

.image-stack img {
  width: 50%;
  display: block;
}

.image-stack__item--bottom {
  grid-column: 6 / 12;
  padding-top: 30%;
  grid-row: 1;
}

.image-stack__item--middle {
  grid-column: 8 / 10;
  padding-top: -20%;
  grid-row: 2;
}

.image-stack__item--top {
  grid-row: 1;
  grid-column: 9 / span 10;
  padding-top: 30%;
  z-index: 200;
}

img {
  width: 100%;
  display: block;
}

/* .gallery {
  background-color: #476667;
  background-size:cover;
  clip-path: inset(100px 50px);
}

.gallery div {
  z-index: 8000;
} */

.contact {
  background-color: #f9e8eb;
}

.reference {
  background-color: #476667;
}

.gallery-container {
  width: 80vw;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.img-block {
  height: 300px;
  width: auto;
}

.img-block img {
  height: 300px;
  width: auto;
  display: inline-block;
}

.paddles {
}
.paddle {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 3em;
}
.left-paddle {
	left: 0;
}
.right-paddle {
	right: 0;
}
.hidden {
	display: none;
}

.left-arrow {
  transform: rotate(180deg);
}
